@model List<Model.Entity.Convidado>
@{
    ViewBag.Title = "Lista de Convidados";
}

<a href="">Relatórios</a>
<h2 class="text-center text-success">Lista de Convidados</h2>
<div class="well well-sm">
    <a class="btn btn-primary" href="~/Convidado/Create">Novo</a>
    <a class="btn btn-info" href="~/Convidado/SearchConvidado">Buscar</a>
</div>
<table class="table table-hover table-striped">
    <thead>

        <tr class="bg-primary">
            <th>Código</th>
            <th>Nome</th>
            <th>Código do funcionário</th>
            <th>Status Beber</th>
            <th colspan="3">Operações</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var conv in Model)
        {
            <tr>
                <td>@conv.IdConvidado</td>
                <td>@conv.Nome</td>
                <td>@conv.IdFuncionario</td>
                <td>@conv.Status</td>
                <td><a class="btn btn-success" href="~/Convidado/Details/@conv.IdConvidado"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td><a class="btn btn-info" href="~/Convidado/Edit/@conv.IdConvidado"><span class="fa fa-edit"></span></a></td>
                <td><a class="btn btn-danger" href="~/Convidado/Delete/@conv.IdConvidado"><span class="fa fa-book"></span></a></td>
            </tr>
        }
    </tbody>
</table>
